:root {
  --overlay-color: rgba(13, 110, 139, 0.75);
  --primary-color: rgba(18, 79, 90, 0.692);
  --secondary-color: rgba(177, 179, 180, 0.575);
  --mentors-background-color: rgba(119, 121, 122, 0.575);
  --menu-speed: 0.75s;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}


//=========== HOME PAGE
.home-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  
}

.login-logout-register {
  width: 250px;
  margin: 20px 10px 0 0;
  margin-right: 33px;
  position: absolute;
  display: flex;
  justify-content: center;
  
  

  .home-links {
    padding: 10px 20px;
    margin: 5px;
    color: black;
    background: var(--overlay-color); 
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgba(36, 36, 36, 0.637);
    
    .link {
      text-decoration: none;
      color: white;
      font-size: 1rem;
    }
  }
}


.home-content {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  &.color-one {
    background: var(--overlay-color); 
  }

  .brief-description {
    width: 60%;
    height: 300px;
    margin-top: 200px;

    h2 {
      margin-top: 1rem;
      color: white;
      text-align: start;
    }
    
    p {
      margin-top: 2rem;
      color: white;
    }
  }
}


.color-two {
  background: var(--secondary-color);
}

.how-it-works {
  width: 80%;
  height: 300px;
  padding-top: 80px;
  justify-content: center;

  h2 {
    text-align: start;
  }

  .columns {
    display: flex;
  }

  .column-one,
  .column-two {
    margin-top: 30px;
    padding: 0 40px;
    
  }
}

#home-content {
  width: 100%;
  height: 100%;

  &.color-three {
    background: var(--overlay-color); 
    display: inline-block;
    
    h2 {
      text-align: start;
      margin: 60px 0 0 200px;
      color: white;
    }

    .section {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;

      .mentor-container {
        display: flex;
        width: 350px;
        height: 400px;
        // background-color: blanchedalmond;
        margin: 30px 10px;
        background: var(--mentors-background-color);
        border: 1px solid grey;
        

        .photo-rated {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          // background-color: bisque;
          color: white;

          .photo {
            background-size: cover;
            background-repeat: no-repeat;
            // text-align: center;
            // line-height: 150px;
            width: 150px;
            height: 150px;
            margin: 40px 10px 10px 10px;
            border-radius: 50%;
            // background-color: burlywood;
            border: 2px solid white;

            .rated {
              background-color: cornflowerblue;

            }
          }
        }

        .effect-marley {
          color: white;
          width: 200px;
        }

        .effect-marley p {
          font-size: 14px;
          right: 30px;
          left: 30px;
          padding: 10px 0;
          padding: 0 15px;
          bottom: 30px;
          line-height: 1.5;
          -webkit-transform: translate3d(0,100%,0);
          transform: translate3d(0,100%,0);
        }

        .effect-marley #h2 {
          padding-top: 70px;
          font-size: 24px;
          top: 30px;
          -webkit-transition: -webkit-transform 0.35s;
          transition: transform 0.35s;
          -webkit-transform: translate3d(0,20px,0);
          transform: translate3d(0,20px,0);
        }

        .effect-marley:hover #h2 {
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
        }

        .effect-marley #h2::after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 90%;
          height: 4px;
          background: #fff;
          content: '';
          -webkit-transform: translate3d(0,40px,0);
          transform: translate3d(0,40px,0);
        }

        .effect-marley #h2::after,
        .effect-marley p {
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
        }

        .effect-marley:hover #h2::after,
        .effect-marley:hover p {
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
        }
        
      }

    }

  } 
}


//==================== Mentors
.container-mentors {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--secondary-color); 
  

  &:first-child {
    // background-color: yellow;
    padding-top: 200px;
  }


  .content-mentor {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    // position: relative;
    // overflow: hidden;
    width: 900px;
    // max-width: 100%;
    min-height: 480px;
    margin-bottom: 80px;
    

      .left-container {
        // padding-top: 50px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        // background-color: bisque;
        color: black;

        .photo {
          background-size: cover;
          background-repeat: no-repeat;
          // text-align: center;
          // line-height: 150px;
          width: 150px;
          height: 150px;
          margin: 40px 10px 10px 10px;
          border-radius: 50%;
          // background-color: burlywood;
          border: 2px solid black;
        }
    
      }

      .right-content {
        display: flex;
        flex-direction: column;

      h3 {
        margin-top: 80px;
        
      }

      p {
        flex-grow: 1;
      }

      h4 {
        padding-bottom: 60px;
        color: rgb(4, 247, 17);
      }
    }
  }
}











//========= FOOTER

footer {
  height: 150px;
  border-top: 1px solid black;
  background: var(--secondary-color); 

  h3 {
    padding: 30px 200px;
    color: black;
  }
 
}




